@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    background-color: var(--bgColor);
    color: var(--textColor);

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #7c3aed99;
        border-radius: 10px;
    }
}

a,
button,
input[type="submit"],
[role="button"] {
    cursor: none;
}
